<div class="container p-5">
  <div *ngIf="tokenVerified">
    <h2>Reset Password</h2>
    <p>
      Please enter new password
    </p>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm.valid)">
      <div class="card">
        <div class="card-header bg-secondary">
          <label class="col-form-label">Reset Password</label>
        </div>

        <div class="card-body">

          <div class="form-group">
            <label for="password"><strong>New Password</strong></label>
            <input class="form-control" formControlName="password" name="password" type="password" [ngClass]="{'is-valid': (resetPasswordForm.controls.password.valid && resetPasswordForm.controls.password.dirty), 'is-invalid': (!resetPasswordForm.controls.password.valid && resetPasswordForm.controls.password.dirty) || (!resetPasswordForm.controls.password.valid && resetPasswordForm.controls.password.touched) || (!resetPasswordForm.controls.password.valid && submitted)}"
              (input)="checkPassword(resetPasswordForm.controls.password, resetPasswordForm.controls.confirmPassword)">

            <div [ngClass]="{'invalid-feedback': true}">
              <span *ngIf="(resetPasswordForm.controls.password.errors?.required && resetPasswordForm.controls.password.dirty) || (resetPasswordForm.controls.password.errors?.required && resetPasswordForm.controls.password.touched) || (resetPasswordForm.controls.password.errors?.required && submitted)">This
                Field is Required.</span>
              <span *ngIf="(resetPasswordForm.controls.password.errors?.minlength) || (resetPasswordForm.controls.password.errors?.maxlength)">Password
                should be between 4 and 15 characters.<br></span>
              <span *ngIf="(resetPasswordForm.controls.password.errors?.pattern)">Password must contain at least one
                uppercase, lowercase & numeric character.</span>
            </div>
          </div>

          <div class="form-group">
            <label for="confirmPassword"><strong>Confirm Password</strong></label>
            <input class="form-control" formControlName="confirmPassword" name="confirmPassword" placeholder="Re-type Password"
              type="password" [ngClass]="{'is-valid': (resetPasswordForm.controls.confirmPassword.valid && resetPasswordForm.controls.confirmPassword.dirty && passwordMatch), 'is-invalid': (!resetPasswordForm.controls.confirmPassword.valid && resetPasswordForm.controls.confirmPassword.dirty) || (!resetPasswordForm.controls.confirmPassword.valid && resetPasswordForm.controls.confirmPassword.touched) || (!resetPasswordForm.controls.confirmPassword.valid && submitted) || (!passwordMatch && resetPasswordForm.controls.confirmPassword.dirty) || (!passwordMatch && resetPasswordForm.controls.confirmPassword.touched) || (!passwordMatch && submitted)}"
              (input)="checkPassword(resetPasswordForm.controls.password, resetPasswordForm.controls.confirmPassword)">

            <div [ngClass]="{'invalid-feedback': true}">
              <span *ngIf="(resetPasswordForm.controls.confirmPassword.errors?.required && resetPasswordForm.controls.confirmPassword.dirty) || (resetPasswordForm.controls.confirmPassword.errors?.required && resetPasswordForm.controls.confirmPassword.touched) || (resetPasswordForm.controls.confirmPassword.errors?.required && submitted)">This
                Field is Required.<br></span>
              <span *ngIf="(!passwordMatch && passwordMsg)">
                {{ passwordMsg }}
              </span>
            </div>

            <div [ngClass]="{'valid-feedback': true}">
              <span *ngIf="(passwordMatch)" class="glyphicon glyphicon-ok"></span>
            </div>
          </div>

        </div>

        <div class="card-footer">
          <button class="btn btn-primary" type="submit" [disabled]="!resetPasswordForm.valid || !passwordMatch || loading">Reset
            Password</button>
        </div>
      </div>
    </form>

  </div>

  <br>

  <div *ngIf="successMsg">
    <h4><span class="badge badge-success"><span class="glyphicon glyphicon-ok"></span> {{ successMsg }}</span></h4>
  </div>

  <div *ngIf="errorMsg">
    <h4><span class="badge badge-danger"><span class="glyphicon glyphicon-remove"></span> {{ errorMsg }}</span></h4>
  </div>

  <div class="modal fade" id="InvalidTokenModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">

      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title"><strong>Looks like The Password Reset Link {{ tokenErrorMsg }} </strong></div>
          <button [routerLink]="['/']" type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div>Go to the Log in page to request again for the Password Reset Link.</div>
        </div>

        <div class="modal-footer">
          <button [routerLink]="['/login']" type="button" class="btn btn-primary" data-dismiss="modal">
            <span>Log In</span>
          </button>
          <button [routerLink]="['/']" type="button" class="btn btn-primary" data-dismiss="modal">
            <span>Go back to Home</span>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>