.containe{
    position: absolute;
    border: 2px solid black;
    width: 60vw;
    margin-left: 10vw;
    margin-right: 30vw;
    margin-bottom: 300px;
    padding: 15px 15px 0 15px;
    z-index: -1;
}

.section1 h3{
    font-weight: bold;
    text-align: center;
    padding: 20px 0 20px 0;
}

.section1 p{
    font-weight: bold;
    margin-bottom: 0px;
}

@media (max-width: 768px){
    .containe{
        width: 86vw;
        margin-right: 11vw;
        margin-left: 2vw;
    }

    .section1 h3{
        font-size: 25px;
        padding: 15px 0 15px 0;
    }
}