<app-side-panel [routeTitle]="from"></app-side-panel>

<div class="containe">
    <div id="userModel">
        userModel
    </div>
    <div id="userRoute">userRoute</div>
    <div id="authService">authService</div>
    <div id="userService">userService</div>
    <div id="loginCss">loginCss</div>
    <div id="loginHtml">loginHtml</div>
    <div id="loginTS">loginTS</div>
    <div id="appRouting">appRouting</div>
    <div id="appCss">appCss</div>
    <div id="appHtml">appHtml</div>
    <div id="appTS">appTS</div>
    <div id="appModule">appModule</div>
    <div id="index">index</div>
    <div id="main">main</div>
    <div id="angular">angular</div>
    <div id="config">config</div>
    <div id="package">package</div>
    <div id="server">server</div>
</div>
