nav{
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

nav ul li a{
    font-size: 18px;
    font-weight: bolder;
    color: beige;
    margin: 2px 4px;
}

nav ul li a:hover{
    color: aquamarine;
    transition: 0.2s ease;
}

.notification-wrapper, .notification-wrapper-sm{
    position: relative;
    margin: 2px 4px;
    display: block;
}

.notification-bell, .notification-bell-sm{
    position: relative;
    cursor: pointer;
    z-index: 2;
    margin-top: 50%;
    display: block;
}

.fa{
    color: beige;
    font-size: 22px;
}

.count{
    position: absolute;
    top: -6px;
    right: -1px;
    height: 15px;
    width: 15px;
    overflow: hidden;
    background: turquoise;
    color: tomato;
    text-align: center;
    border-radius: 100%;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
}

.notification-container, .notification-container-sm{
    position: absolute;
    z-index: 1;
    left: -130px;
    top: 40px;
    min-height: 10px;
    min-width: 10px;
    width: 280px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    display: none;
}

.notification-container-sm{
    left: -130px;
    top: 40px;
    min-height: 10px;
    min-width: 10px;
    width: 230px;
    display: none;
}

.notification-container .notification-header,
.notification-container-sm .notification-header{
    background: #4f5f6e;
    padding: 15px;
    position: relative;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    border: 2px solid #273747;
}

.notification-container .notification-header .triangle,
.notification-container-sm .notification-header .triangle{
    position: absolute;
    top: -8px;
    left: 132px;
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    background: #4f5f6e;
}
.notification-container .notification-header .count,
.notification-container-sm .notification-header .count{
    position: static;
    height: 25px;
    width: 25px;
    display: inline-block;
    line-height: 24px;
    margin-right: 8px;
    font-size: 12px;
    vertical-align: middle;
}

.notification-container .notification-body,
.notification-container-sm .notification-body{
    max-height: 292px;
    background-color: #fdfdfd;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid #4c565a;
}

.notification-container .notification-body .notification,
.notification-container-sm .notification-body .notification{
    background: inherit;
    padding: 10px;
    border-bottom: 2px solid grey;
}

.notification-container .notification-body .seen,
.notification-container-sm .notification-body .seen{
    background: inherit;
}

.notification-container .notification-body .unseen,
.notification-container-sm .notification-body .unseen{
    background: rgb(207, 202, 202);
}

.notification-container .notification-body .notification .notification-text,
.notification-container-sm .notification-body .notification .notification-text{
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    font-size: 15px;
    word-spacing: 2px;
    line-height: 21px;
}

.notification-container .notification-body .notification .notification-text .highlight,
.notification-container-sm .notification-body .notification .notification-text .highlight{
    font-weight: bold;
}

.notification-container .notification-body .notification .notification-date,
.notification-container-sm .notification-body .notification .notification-date{
    font-size: 12px;
}

.notification-container .notification-body .notification .notification-date .highlight,
.notification-container-sm .notification-body .notification .notification-date .highlight{
    font-size: 11px;
    font-weight: bold;
}

.notification-wrapper-sm{
    display: none;
}

.notification-bell-sm{
    display: none;
}

.notification-container-sm{
    display: none;
}

@media(max-width:768px){
    .notification-wrapper{
        display: none;
    }

    .notification-bell{
        display: none;
    }

    .notification-container{
        display: none;
    }

    .notification-wrapper-sm{
        display: block;
    }
    
    .notification-bell-sm{
        display: block;
    }
}