.out{
    position: relative;
    top: 78px;
}

nav{
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

nav ul li a{
    font-size: 18px;
    font-weight: bolder;
    color: beige;
    margin: 2px 4px;
}

nav ul li a:hover{
    color: aquamarine;
    transition: 0.2s ease;
}

.notification-wrapper, .notification-wrapper-sm{
    position: relative;
    margin: 2px 4px;
    display: block;
}

.notification-bell{
    position: relative;
    cursor: pointer;
    z-index: 2;
    margin-top: 80%;
    display: block;
}

.notification-bell-sm{
    position: relative;
    cursor: pointer;
    z-index: 2;
    margin-top: 50%;
    display: block;
}

.fa{
    color: beige;
    font-size: 22px;
}

.count{
    position: absolute;
    top: -6px;
    right: -1px;
    height: 15px;
    width: 15px;
    overflow: hidden;
    background: turquoise;
    color: tomato;
    text-align: center;
    border-radius: 100%;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
}

.notification-container, .notification-container-sm{
    position: absolute;
    z-index: 1;
    left: -130px;
    top: 40px;
    min-height: 10px;
    min-width: 10px;
    width: 280px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    display: none;
}

.notification-container-sm{
    left: -130px;
    top: 40px;
    min-height: 10px;
    min-width: 10px;
    width: 230px;
    display: none;
}

.notification-container .notification-header,
.notification-container-sm .notification-header{
    background: #4f5f6e;
    padding: 15px;
    position: relative;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    border: 2px solid #273747;
}

.notification-container .notification-header .triangle,
.notification-container-sm .notification-header .triangle{
    position: absolute;
    top: -8px;
    left: 132px;
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    background: #4f5f6e;
}
.notification-container .notification-header .count,
.notification-container-sm .notification-header .count{
    position: static;
    height: 25px;
    width: 25px;
    display: inline-block;
    line-height: 24px;
    margin-right: 8px;
    font-size: 12px;
    vertical-align: middle;
}

.notification-container .notification-body,
.notification-container-sm .notification-body{
    max-height: 292px;
    background-color: #fdfdfd;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid #4c565a;
}

.notification-container .notification-body .notification,
.notification-container-sm .notification-body .notification{
    background: inherit;
    padding: 10px;
    border-bottom: 2px solid grey;
}

.notification-container .notification-body .seen,
.notification-container-sm .notification-body .seen{
    background: inherit;
}

.notification-container .notification-body .unseen,
.notification-container-sm .notification-body .unseen{
    background: rgb(207, 202, 202);
}

.notification-container .notification-body .notification .notification-text,
.notification-container-sm .notification-body .notification .notification-text{
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    font-size: 15px;
    word-spacing: 2px;
    line-height: 21px;
}

.notification-container .notification-body .notification .notification-text .highlight,
.notification-container-sm .notification-body .notification .notification-text .highlight{
    font-weight: bold;
}

.notification-container .notification-body .notification .notification-date,
.notification-container-sm .notification-body .notification .notification-date{
    font-size: 12px;
}

.notification-container .notification-body .notification .notification-date .highlight,
.notification-container-sm .notification-body .notification .notification-date .highlight{
    font-size: 11px;
    font-weight: bold;
}

.notification-wrapper-sm{
    display: none;
}

.notification-bell-sm{
    display: none;
}

.notification-container-sm{
    display: none;
}

.profilePic-div{
    display: block;
}

.profilePic-div-sm{
    margin-left: 5px;
    margin-right: 9px;
    display: none;
}

.imgProfile{
    border-radius: 40%;
    height: 40px;
    width: 40px;
}

.profileMenu{
    list-style: none;
    left: unset;
    float: right;
    right: 0;
    width: 200px;
    padding: 0;
    background-color: teal;
    border: 2px solid #03573b;
    box-shadow: 5px 5px 20px 0px black;
}

.profileMenu .triangle{
    position: absolute;
    top: -9px;
    left: 160px;
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    background: inherit;
    border-top: 2px solid teal;
    border-left: 2px solid #056d4a;
}

.profileMenu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.profileMenu ul .profileName{
    margin: 0;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
}

.profileMenu ul li{
    margin: 5px;
    margin-right: 40px;
    font-size: 20px;
}

.profileMenu ul li a{
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
    color: #ffc107;
}

.profileMenu ul li a:hover{
    color: rgb(69, 76, 74);
    transition: 0.2s ease;
}

@media(max-width:768px){
    .notification-wrapper{
        display: none;
    }

    .notification-bell{
        display: none;
    }

    .notification-container{
        display: none;
    }

    .notification-wrapper-sm{
        display: block;
    }
    
    .notification-bell-sm{
        display: block;
    }

    .profilePic-div{
        display: none;
    }
    
    .profilePic-div-sm{
        display: block;
    }

    .imgProfile{
        border-radius: 40%;
        height: 35px;
        width: 35px;
    }

    .profileMenu{
        top: 125%;
        width: 180px;
    }

    .profileMenu .triangle{
        top: -9px;
        left: 155px;
    }

    .profileMenu ul li{
        margin: 3px;
        margin-right: 20px;
    }

    .profileMenu ul li a{
        font-size: 15px;
    }
}