.accountSetting{
    position: relative;
    margin: 15px;
    width: 30%;
    float: right;
}

.accountSetting .profilePicDiv{
    position: relative;
    width: 225px;
    height: 225px;
    overflow: scroll;
}

.accountSetting .profilePicDiv::-webkit-scrollbar{
    display: none;
}

.accountSetting .profilePic{
    opacity: 1;
    display: block;
    transition: .5s ease;
}

.accountSetting .btnChange{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.accountSetting .btnSave{
    margin: 15px;
    float: right;
}

.accountSetting:hover .profilePic{
    opacity: 0.3;
}

.accountSetting:hover .btnChange{
    opacity: 1;
}

.imageToChange{
    display: none;
}

@media(max-width:768px){
    .accountSetting{
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        float: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .accountSetting .btnSave{
        margin: 10px;
        width: 80%;
        float: none;
    }
}

