<canvas id="c" style="display: none;"></canvas>
<img id="mod" src="" style="display: none;"/>

<div class="accountSetting">
  <div class="profilePicDiv">
    <img *ngIf="user.profilePicUrl || alternateProfilePicUrl" class="profilePic" id="pp"
      [src]="dms.bypassSecurityTrustUrl(alternateProfilePicUrl ? alternateProfilePicUrl : user.profilePicUrl)">
  </div>
  <button class="btn btn-sm btn-success btnChange">Change..</button>
  <input type="file" class="imageToChange" (change)="processImage($event)" accept="image/*">

  <button class="btn btn-sm btn-success btnSave" (click)="saveImage()" [disabled]="!profilePicChanged">Save</button>
</div>